$sidebar-width: 240px;

#nav-main-contents {
    display: flex;
    height: calc(100vh - 55px);
}

#sidebar {
    width: $sidebar-width;
    max-height: calc(100vh - 55px);
    overflow: auto;
    background-color: #16335F;
    color: #FFFFFF;
    font-size: 20px;
}

main {
    width: calc(100vw - #{$sidebar-width});
    max-height: calc(100vh - 55px);
    padding: 35px 20px 20px 20px;
    overflow: auto;
}

.sidebar-border {
    background-color: #FFFFFF;
    margin: auto;
    width: 80%
}

.sidebar-menu-list {
    padding: 0 0px;
}

.sidebar-menu-list .fa {
    font-size: 22px;
    margin-right: 8px;
}

.sidebar-menu-list li {
    margin: 15px 0;
    text-align: left;
}

.sidebar-menu-list li a {
    display: block;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar-menu-list > li > a {
    font-size: 18px;
    padding-left: 25px;
}

.sidebar-menu-list li a:hover{
    opacity: 0.8;
}

.sidebar-menu-list li ul {
    background-color: #486AA5;
}

.sub-item {
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
}

.sub-sub-item {
    padding-left: 40px;
    font-size: 14px;
    text-decoration: underline;

}

.ai-chat-room {
    padding-bottom: 6px;
}

@media screen and (max-width:720px) {
    #sidebar {
        position: fixed;
        left: -100vw;
        height: 100vh;
        opacity: 0.4;
        z-index: 2001;
        -webkit-transition: all .5s ease-in-out 0s;
        transition: all .5s ease-in-out 0s;

        &.sidebar-open {
            left: 0;
            opacity: 1;
        }
    }

    #sidebar-overlay {
        position: fixed;
        bottom: 0;
        left: -100vw;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: calc(100vh - 55px);
        z-index: 2000;
        -webkit-transition: all .4s ease-in-out 0s;
        transition: all .4s ease-in-out 0s;

        &.sidebar-overlay-open {
            left: 0;
            opacity: 1;
        }
    }

    main {
        width: 100vw;
    }
}
