.public-room,
.private-room {
  margin-bottom: 60px;
}

.room-list-item {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid black;
  margin-bottom: -1px;
}

.room-box {
  display: block;
  height: 100%;
  width: 100%;
  padding: 20px 0 20px 35px;
}

.room-box:hover {
  border: 2px solid gray;
}

.room-name {
  margin-bottom: 5px;
  font-size: 18px;
}

.room-setting {
  display: inline;
  margin-left: 20px;
  color: #006600;
  text-decoration: underline;
}

.room-setting:hover {
  color: #009966;
}

.room-description {
  font-size: 15px;
}

.room-description span {
  display: inline-block;
  width: 160px;
  margin-left: 10px;
  margin-right: 20px;
}

.sub-title-block {
  position: relative;
  text-align: right;
}

.sub-title-block .sub-title {
  float: left;
  position: absolute;
  bottom: 0;
}

.sub-title-block button {
  margin-bottom: 8px;
}

@media screen and (max-width: 720px) {
  .room-box p object {
    display: block;
  }

  .room-setting {
    margin-left: 10px;
  }
}

.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  background-color: #f8fafc;
  border-radius: 8px;
  z-index: 201;
  padding: 2rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 200;
}

.modal-close {
  margin-left: 10px;
}

@media screen and (max-width: 720px) {
  .modal-window {
    top: 50%;
    left: 50%;
    width: 90vw;
    padding: 10px 20px 20px 15px;
  }
}

